body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #404040; /* Dark gray similar to #404040 */
  color: #f5f5f5; /* Light cream for good contrast */
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
  background-color: #303030; /* Darker shade of gray */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Softer shadow */
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.suggestion-box {
  background-color: #505050; /* Darker shade of gray with more contrast */
  padding: 15px;
  border-radius: 8px;
}

.chat-container {
  max-height: 500px;
  overflow-y: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  grid-column: 1 / span 2;
}

.chat-box,
.chat-input {
  background-color: #505050; /* Darker shade of gray */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.chat-input {
  width: -webkit-fill-available;
  height: 30px;
  border: none;
  margin-top: 10px;
  font-size: 15px;
  padding-right: 50px;
  color: #f5f5f5; /* Light cream for good contrast */
}

.chat-input::placeholder {
  color: #808080; /* Dark gray for subtle placeholder */
}

.chat-input-container {
  position: relative;
  width: 202%;
}

.send-icon {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.chat-input-container button {
  position: absolute;
  right: 0px;
  border: none;
  transform: translate(-20%, 70%);
  height: 30px;
  border-radius: 5px;
  top: 0px;
}

#prompt-ans {
  color: #ffffff; /* Dark gray similar to #404040 */
}

#question {
  color: #ffffff; /* Dark gray similar to #404040 */
}
