body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #70a04a;
  /* Lighter, muted sap green */
  color: #f5f5f5;
  /* Light cream for good contrast */
}

.container {
  max-width: 1300px;

  margin: auto;
  padding: 20px;
  background-color: #d0e5b5;
  /* Lighter, warm off-white */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Softer shadow */
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.suggestion-box {
  background-color: #90b875;
  /* Lighter, muted sap green with more contrast */

  padding: 15px;
  border-radius: 8px;
}

.chat-container {
  max-height: 500px;
  overflow-y: auto;
  padding-bottom: 20px;
  margin-top: 20px;
  grid-column: 1 / span 2;
}

.chat-box,
.chat-input {
  background-color: #90b875;
  /* Light cream for good contrast */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.chat-input {
  width: -webkit-fill-available;
  height: 30px;
  border: none;
  margin-top: 10px;
  /* Text color same as body for consistency */
  font-size: 15px;
  padding-right: 50px;
}

.chat-input::placeholder {
  color: #3b3b3b;
  /* Light gray for subtle placeholder */
}

.chat-input-container {
  position: relative;
  width: 202%;
}

.send-icon {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.chat-input-container button {
  position: absolute;
  right: 0px;
  border: none;
  transform: translate(-20%, 70%);
  height: 30px;
  border-radius: 5px;
  top: 0px;
}