* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", monospace;
}

body {
  min-height: 100vh;
  background: url("/professional_background.jpg") no-repeat; /* Replace "professional_background.jpg" with your desired image */
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  backdrop-filter: blur(18px);
  filter: brightness(88%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #333333; /* Dark gray similar to #404040 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
}

a {
  font-size: 1.15em;
  text-decoration: none;
  margin-left: 1.5em;
  padding: 0.5em;
  position: relative;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  padding: 0 10px;
}

a:after {
  content: "";
  position: absolute;
  background-color: skyblue;
  height: 4px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

a:hover:after {
  width: 100%;
}

.page {
  height: 100vh;
  width: 80%;
  padding-top: 8em;
  margin: auto;
  background-color: #404040; /* Dark gray similar to #404040 */
  padding-left: 4em;
  padding-right: 4em;
}

.title {
  font-size: 2.3em;
  text-decoration: none;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #f5f5f5; /* Light cream for good contrast */
}

.content {
  font-size: 1.2em;
  padding-left: 3em;
  color: #f5f5f5; /* Light cream for good contrast */
}
